{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Time Management System</title>
    <style type="text/css">
        .router-link-active {
            color: #f2f2f2 !important;
        }
    </style>
</head>
<body class="bg-light">
<div class="bg-white container pb-1">
    <!-- Content -->
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary pt-1">
            <router-link v-bind:to="'report'" class="navbar-brand">Time Management System</router-link>
            <ul class="navbar-nav ml-auto" v-if="isAuthenticated">
                <li class="nav-item">
                    <router-link to="/timesheet" class="nav-link my-2">My Timesheet</router-link>
                </li>
                <li>
                    <router-link to="/profile" class="nav-link my-2">My Profile</router-link>
                </li>
                <li>
                    <router-link to="/logout" class="btn btn-warning my-2">Logout</router-link>
                </li>
            </ul>
        </nav>
        <section class="jumbotron text-center" v-if="!isAuthenticated">
            <div class="container my-2">
                <h1 class="jumbotron-heading">Time Management System</h1>
                <p class="lead text-muted">Please login or register to continue.</p>
                <p>
                    <router-link to="/login" class="btn btn-primary my-2">Login</router-link>
                    <router-link to="/register" class="btn btn-secondary my-2">Register</router-link>
                </p>
            </div>
        </section>
        <router-view></router-view>
    </div>
</div>

<!-- Vue.js -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router"></script>
<script src="https://unpkg.com/vuex"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='https://unpkg.com/v-calendar'></script>

<!-- Vue templates -->
<template id="login-template">
    <div class="login">
        <h2>Login</h2>
        <form @submit.prevent="login">
            <div class="form-group">
                <label for="username">Username</label>
                <input required v-model="username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input required v-model="password" type="password" class="form-control">
            </div>
            <div v-if="isAuthError">
                Invalid credentials.
            </div>
            <div class="form-group">
                <button type="submit" text="Login"
                        class="btn btn-primary my-2">Login
                </button>
            </div>
        </form>
    </div>
</template>

<template id="logout-template">
    <div class="logout">
        Successfully logged out.
    </div>
</template>

<template id="register-status-template">
    <div class="registration-status">
        <div class="register-success" v-if="isRegistered">
            Successfully registered. Please login to continue.
        </div>
    </div>
</template>

<template id="register-template">
    <div class="register">
        <h2>Register</h2>
        <form @submit.prevent="register">
            <div class="form-group">
                <label for="email">Email</label>
                <input required v-model="email" class="form-control" placeholder="jim@gmail.com">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input required v-model="username" type="text" class="form-control" placeholder="jim">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input required v-model="password" type="password" class="form-control" placeholder="*******">
            </div>
            <div class="form-group">
                <label for="preferred_working_hours">Preferred Working Hours</label>
                <input required v-model="preferred_working_hours" type="text"
                       class="form-control" placeholder="8">
            </div>
            <div class="register-failed" v-if="registerError">
                Registration failed. Please try again.
            </div>
            <div class="form-group">
                <button type="submit" text="Register"
                        class="btn btn-primary my-2">Register
                </button>
            </div>
        </form>
    </div>
</template>

{% verbatim %}
<template id="timesheet-template">
    <div class="timesheet">
        <br/>
        <div class="page-header">
            <h1>
                Timesheet
            </h1>
            <small class="text-muted">Your Preferred Working Hours: <span>{{ preferredWorkingHours }}</span></small>
            <hr/>
        </div>
        <form @submit.prevent="log_work">
            <div class="form-group">
                <v-date-picker v-model='workday'
                               @input="refresh_logged_work"
                               :input-props='{ class: "form-control", readonly: true }'></v-date-picker>
            </div>
            <div class="time_entry">
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label for="duration" class="text-muted">Duration</label>
                        <input required type="text" v-model="duration" class="form-control" placeholder="8"
                               v-bind:class="{ 'bg-danger': highlight_hours, 'bg-success':!highlight_hours }">
                    </div>
                    <div class="form-group col-md-9">
                        <label for="description" class="text-muted">Description</label>
                        <input required type="text" v-model="description" class="form-control"
                               placeholder="Assembling engine">
                    </div>
                    <div class="form-group col-md-2">
                        <br/>
                        <button type="submit" name="work_log" text="Register"
                                class="form-control btn btn-primary my-2">Log Work
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="time_logs">
            <template v-for="log in timesheet">
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <input required type="text" class="form-control align-top" placeholder="8"
                               v-model="log.duration"
                               v-bind:class="{ 'bg-danger': highlight_hours, 'bg-success':!highlight_hours }">
                    </div>
                    <div class="form-group col-md-9">
                        <input required type="text" class="form-control align-top" placeholder="8"
                               v-model="log.description">
                    </div>
                    <div class="form-group col-md-1">
                        <button type="button" name="work_update" text="Register"
                                class="form-control btn btn-info align-top" @click="update_work(log)">Update
                        </button>
                    </div>
                    <div class="form-group col-md-1">
                        <button type="button" name="work_update" text="Register"
                                class="form-control btn btn-danger align-top" @click="delete_work(log)">Delete
                        </button>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>


<template id="report-template">
    <div class="timesheet-report">
        <div class="page-header my-2">
            <h1>
                Timesheet Report
            </h1>
        </div>
        <form @submit.prevent="refresh_report">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Startdate</label>
                    <div class="input-group mb-2">
                        <v-date-picker v-model='startdate'
                                       :input-props='{ class: "form-control", readonly: true }'></v-date-picker>
                    </div>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">EndDate</label>
                    <div class="input-group mb-2">
                        <v-date-picker v-model='enddate'
                                       :input-props='{ class: "form-control", readonly: true }'></v-date-picker>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Generate Report</button>
                </div>
            </div>
        </form>
        <div>
            <div class="text-warning py-2" v-if="Object.keys(timesheet).length <=0">
                <p>No time log entries found.</p>
            </div>
            <template v-for="log in timesheet">
                <div class="card my-1">
                    <h5 class="card-header py-1">
                        <b>Date:</b> {{ log.workday }}
                    </h5>
                    <div class="card-body py-1">
                        <div class="card-title my-0"><b>Total Time:</b> {{ log.totalHours }}</div>
                        <div class="card-text"><b>Notes:</b>
                            <ul>
                                <template v-for="desc in log.descriptionCombined">
                                    <li>
                                        {{ desc }}
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

{% endverbatim %}

<template id="profile-template">
    <div class="profile">
        <div class="page-header my-2">
            <h1>
                Profile
            </h1>
        </div>

        <form @submit.prevent="update_profile">
            <div class="form-group">
                <label for="email">Email</label>
                <input required v-model="email" class="form-control" placeholder="jim@gmail.com">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input required v-model="username" type="text" class="form-control" placeholder="jim">
            </div>
            <div class="form-group">
                <label for="password">Password <span
                        class="text-muted small">Leave this blank if you don't want to change your password</span></label>
                <input v-model="password" type="password" class="form-control" placeholder="*****">
            </div>
            <div class="form-group">
                <label for="preferred_working_hours">Preferred Working Hours</label>
                <input required v-model="preferred_working_hours" type="text"
                       class="form-control" placeholder="8">
            </div>
            <div class="register-failed alert alert-danger" v-if="hasUpdateError">
                Profile update failed. Please try again.
            </div>
            <div class="register-failed alert alert-success" v-if="updateSucceeded">
                Profile updated successfully.
            </div>
            <div class="form-group">
                <button type="submit" text="Register"
                        class="btn btn-primary my-2">Update
                </button>
            </div>
        </form>
    </div>
</template>

<template id="NotFoundComponent-template">
    <div class="NotFoundComponent">
        <br/>
        <div class="page-header">
            <h1>
                Sorry, this page not found.
            </h1>
            <hr/>
        </div>
    </div>
</template>

<script src="{% static "index.js" %}"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>
</html>